<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>smallestPlane.png</string>
			<key>hpParticles</key>
			<dict>
				<key>plistName</key>
				<string>userPlane/enemyPlaneFire.plist</string>
				<key>particle</key>
				<array>
					<dict>
						<key>hpPercentage</key>
						<string>0.5</string>
						<key>offset</key>
						<string>{35,20}</string>
					</dict>
				</array>
			</dict>
			<key>scale</key>
			<string>0.6</string>
			<key>hp</key>
			<string>1000</string>
			<key>score</key>
			<string>10</string>
			<key>money</key>
			<string>10</string>
			<key>move</key>
			<string>false</string>
			<key>aircraftTime</key>
			<string>1</string>
			<key>batterys</key>
			<array>
				<dict>
					<key>name</key>
					<string>battery_2.png</string>
					<key>offset</key>
					<string>{0,0}</string>
					<key>emitFrequency</key>
					<string>2</string>
					<key>angle</key>
					<string>-180</string>
					<key>autoLockObject</key>
					<string>true</string>
					<key>emitPositions</key>
					<array>
						<dict>
							<key>offset</key>
							<string>{-17,80}</string>
						</dict>
						<dict>
							<key>offset</key>
							<string>{36,80}</string>
						</dict>						
					</array>
					<key>magazine</key>
					<dict>
						<key>name</key>
						<string>NormalBullet.png</string>
						<key>attack</key>
						<string>2</string>
						<key>speed</key>
						<string>400</string>	
						<key>count</key>
						<string>100</string>
					</dict>
				</dict>

			</array>
		</dict>
	</array>
</array>
</plist>
