<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>phoenix_1.png</string>
	<key>hp</key>
	<string>600</string>
	<key>emitSE</key>
	<string>userPlaneDefaultEmit.caf</string>
	<key>staticParticles</key>
	<array>
		<dict>
			<key>plistName</key>
			<string>userPlane/userPlaneHead.plist</string>
			<key>particle</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{50,93}</string>
				</dict>		
			</array>
		</dict>
		<dict>
			<key>plistName</key>
			<string>userPlane/userPlaneSmoke.plist</string>
			<key>particle</key>
			<array>
				<dict>
					<key>offset</key>
					<string>{44,25}</string>
				</dict>
				<dict>
					<key>offset</key>
					<string>{63,25}</string>
				</dict>				
			</array>
		</dict>
	</array>
	<key>hpParticles</key>
	<dict>
		<key>plistName</key>
		<string>userPlane/userPlaneFire.plist</string>
		<key>particle</key>
		<array>
			<dict>
				<key>hpPercentage</key>
				<string>0.3</string>
				<key>offset</key>
				<string>{24,65}</string>
			</dict>
			<dict>
				<key>hpPercentage</key>
				<string>0.7</string>
				<key>offset</key>
				<string>{74,65}</string>
			</dict>
		</array>
	</dict>
	<key>batterys</key>
	<array>
		<dict>
			<key>name</key>
			<string>userBattery.png</string>
			<key>batteryType</key>
			<string>1</string>
			<key>emitFrequency</key>
			<string>10</string>
			<key>clockWise</key>
			<string>true</string>
			<key>radius</key>
			<string>20</string>
			<key>magazine</key>
			<dict>
				<key>name</key>
				<string>userBullet_1.png</string>		
				<key>scale</key>
				<string>0.5</string>
				<key>attack</key>
				<string>20</string>
				<key>speed</key>
				<string>800</string>	
				<key>count</key>
				<string>100</string>
				<key>flyAction</key>
				<dict>
					<key>flyActionType</key>
					<string>0</string>
				</dict>				
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>userBattery.png</string>
			<key>batteryType</key>
			<string>1</string>
			<key>emitFrequency</key>
			<string>10</string>
			<key>clockWise</key>
			<string>false</string>
			<key>radius</key>
			<string>20</string>
			<key>magazine</key>
			<dict>
				<key>name</key>
				<string>userBullet_1.png</string>		
				<key>scale</key>
				<string>0.5</string>
				<key>attack</key>
				<string>20</string>
				<key>speed</key>
				<string>800</string>	
				<key>count</key>
				<string>100</string>
				<key>flyAction</key>
				<dict>
					<key>flyActionType</key>
					<string>0</string>
				</dict>				
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>userBattery.png</string>
			<key>batteryType</key>
			<string>1</string>
			<key>emitFrequency</key>
			<string>10</string>
			<key>clockWise</key>
			<string>true</string>
			<key>radius</key>
			<string>10</string>
			<key>magazine</key>
			<dict>
				<key>name</key>
				<string>userBullet_1.png</string>		
				<key>scale</key>
				<string>0.5</string>
				<key>attack</key>
				<string>20</string>
				<key>speed</key>
				<string>800</string>	
				<key>count</key>
				<string>100</string>
				<key>flyAction</key>
				<dict>
					<key>flyActionType</key>
					<string>0</string>
				</dict>				
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>userBattery.png</string>
			<key>batteryType</key>
			<string>1</string>
			<key>emitFrequency</key>
			<string>10</string>
			<key>clockWise</key>
			<string>false</string>
			<key>radius</key>
			<string>10</string>
			<key>magazine</key>
			<dict>
				<key>name</key>
				<string>userBullet_1.png</string>		
				<key>scale</key>
				<string>0.5</string>
				<key>attack</key>
				<string>20</string>
				<key>speed</key>
				<string>800</string>	
				<key>count</key>
				<string>100</string>
				<key>flyAction</key>
				<dict>
					<key>flyActionType</key>
					<string>0</string>
				</dict>				
			</dict>
		</dict>
	</array>
</dict>
</plist>
